/* ani_name */
@keyframes fontColorRainbow {
    0% { 
        color: #ff2a2a; 
    }
   15% { 
       color: #ff7a2a; 
    }
   30% { 
       color: #ffc52a 
    }
   45% { 
       color: #43ff2a; }
   60% { 
       color: #2a89ff; 
    }
   75% { 
       color: #202082; 
    }
   90% { 
       color: #6b2aff; 
    }
   100% { 
       color: #e82aff; 
    }
}

body{
    background-color: #333;
    background-image: url(img/big-frame.png);
    /* opacity: 0.5; */
    color: #fff;
    font-family: 'Nanum Myeongjo', serif;
    
}


.container{
    max-width: 528px;
    /* max-height: 700px; */
    /* overflow: hidden; */
}

ol > li{
    margin-top: 20px;
}

.start{
    display: flex;
    flex-direction: column;
    background: url(img/background-frame.png) center no-repeat;
    /* position: relative; */
    height: 577px;
}

.main-title{
    font-size: 14px;
    color: #ebebeb;
    margin-top: 230px;
}

.sub-title{
    font-size: 21px;
    font-weight: 100;
    color: #ebebeb;
}

.start-cover{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-start{
    font-size: 26px;
    color: #a57537;
    background: none;
    border: none;
}

.btn-start:hover{
    animation-name: fontColorRainbow;
    animation-duration: 3s; 
    animation-iteration-count: infinit;
    background: none;
    transition: 0.5s;
    transform: scale(1.4);
}

.question{
    display: none;
}

.question-content{
    font-size: 19px;
    color: #a57537;
}

article{
    display: flex;
    flex-direction: column;
}

.rectangle{
    width: 288px;
    height: 8px;
    background-color: #383a43;
    margin: 0 auto;
}

.mid-rectangle{
    width: 288px;
    height: 1px;
    background-color: #383a43;
    margin: 0 auto;
}

.btn-answer{
    background-color: #363636;
    border: 1px solid #1f1f1f;
    width: 288px;
    margin: 0 auto;
    font-size: 13px;
    color: #fff;
}

btn-primary:hover {
    color: #fff;
    background-color: none;
    border-color: none;
}

.btn-answer:hover{
    background-color: #a57537;
    border: 1px solid #1f1f1f;
    width: 288px;
    margin: 0 auto;
    transition: 0.2s;
    font-size: 18px;
    color: #fff;
}

.progress-bar{
    background-color: #a57537;
}

.progress{
    background-color: #525764;
}

.result{
    display: none;
}

.updown-slash{
    width: 166px;
    margin: 0 auto;
}

.result-book{
    font-size: 20px;
    font-weight: 100;
    color: #ebebeb;
}

.result-book > strong{
    margin-top: 20px;
    font-size: 24px;
    color: #a57537;
}

.result-explain{
    font-size: 16px;
    font-weight: 100;
    color: #a57537;
    margin-bottom: 30px;
}

.result-explain > #text{
    margin-top: 10px;
}

.result-message{
    color: #a57537;
    margin: 0 auto;
    font-size: 24px;
    font-weight: 100;
}

.share{
    margin: 0 auto;
}

.kakao_ad{
    width: 320px;
    margin: 0 auto;
    height: 134px;
    transform: translateY(30px);
}

#img{
    margin: 0 auto;
    width: 300px;
    height: 300px;
}

#img:hover{
    transform: scale(1.5);
    transition: 0.5s;
}

#book{
    margin-top: 40px;
}

#explain{
    margin-bottom: 30px;
}